<%= bootstrap_form_with model: form, local: true do |form| %>
    <%= render 'devise/shared/error_messages', object: form.object %>

    <div class= form-group >
        <div class="m-3">
             <div id = "select-perent">
                <%= form.select :'choice', {'Qiitaユーザー記事': 1, 'Qiitaストック記事': 2},
                { include_blank: '選択してください'} %>
            </div>
        </div>
    </div>

    <div class= form-group >
        <div class="m-3">
            <div id = "select-children">
                <%= form.select :qiita_id, { " ": " " }, include_blank: true %>
            </div>
        </div>
    </div>

    <div class= form-group >
        <div class="m-3">
            <%= form.text_field :name %>
        </div>
    </div>

    <div class= form-group >
        <div class="m-3">
            <%= form.text_area :body, maxlength: '100', size: '30x1' %>
        </div>
    </div>

    <div class= form-group >
        <div class="m-3">
            <%= form.select :task_state, Task.task_states_i18n.invert, {} %>
        </div>
    </div>

    <div class= form-group >
        <div class="m-3">
            <%= form.number_field :task_cycle, value: @task_cycle, min: 1, max: 30 %>
        </div>
    </div>

    <div class= form-group >
        <div class="m-3">
            <%= form.number_field :repeat_count, value: @repeat_count, min: -1, max: 50 %>
        </div>
    </div>

    <div class= form-group >
        <div class="m-3">
            <%= form.date_select :doing_date, selected: @doing_date %>
        </div>
    </div>

    <div class="text-center">
        <div class="m-3">
            <%= form.submit nil, class: 'btn btn-primary' %>
        </div>
    </div>

    <div class="text-center">
      <div class="m-3">
        <%= link_to '戻る', :back, class: 'btn btn-primary' %>
      </div>
    </div>

<% end %>
