<div class="col-sm-12 col-lg-4 mb-3">
  <div id="task-id-<%= task.id %>">
    <div class="card">
      <div class="card-body">
        <h4 class="card-name">
          <a href="#">
            <%= task.name %>
          </a>
        </h4>
        <div class='mr10 float-right'>
          <a href="#"><%= icon 'fas', 'trash', class: 'pr-1' %></a>
          <a href="#"><%= icon 'fa', 'pen' %></a>
        </div>
        <ul class="list-inline">
          <li class="list-inline-item">
            <%= icon 'far', 'user' %>
            <%= current_user.tasks.name %>
          </li>
          <li class="list-inline-item">
            <%= icon 'far', 'calendar' %>
            <%= l task.created_at, format: :long %>
          </li>
        </ul>
        <p class="card-text"><%= task.body %></p>
      </div>
    </div>
  </div>
</div>