
<div class="container pt-5">
  <div class="row mb-3">
    <div class="col-lg-8 offset-lg-2">
      <h1><%= t('.title') %></h1>
      <!-- 掲示板内容 -->
      <article class="card">
        <div class="card-body">
          <div class='row'>
            <div class='col'>
              <h3 class="d-inline"><%= @task.name %></h3>
                <div class="container">
                    <ul class="list-group">

                        <ul class="list-group list-group-horizontal">
                            <li class="list-group-item border-right-0">
                                タスク名
                            </li>
                            <li class="list-group-item border-left-0">
                                <%= @task.name %>
                            </li>
                        </ul>

                    <li class="list-group-item">
                        <%= @task.body %>
                    </li>

                    <li class="list-group-item">
                        <%= @task.task_url %>
                    </li>

                    <li class="list-group-item">
                        <%= @task.task_state %>
                    </li>

                    <li class="list-group-item">
                        <%= l @task.created_at, format: :long  %>
                    </li>

                    <li class="list-group-item">
                        <%= l @task.doing_date, format: :long  %>
                    </li>
                </ul>
              </div>

            </div>
          </div>
        </div>
      </article>
    </div>
  </div>
</div>