<div class="container pt-3">
   <div class="row">
     <div class="col-12">
       <div class="row">
        <div class="text-center">
          <h3>ユーザ名: <%= current_user.name %></h3>
        </div>
            <%= bootstrap_form_with model: @user, local: true do |f| %>
              <%= render 'devise/shared/error_messages', object: f.object %>

              <div class= form-group >
                <div class="m-3">
                  <%= f.text_field :qiita_user_id,  placeholder: "Qiitaユーザー名" %>
                </div>
              </div>

              <div class= form-group >
                <div class="m-3">
                  <%= f.number_field :default_task_cycle, placeholder: "周期", min: 1, max: 30 %>
                </div>
              </div>

              <div class= form-group >
                <div class="m-3">
                  <%= f.number_field :default_repeat_count, placeholder: "回数", min: 1, max: 50 %>
                </div>
              </div>

              <div class= form-group >
                <div class="m-3">
                  <label class="form-label" for="user_notification_at">通知時刻1</label>
                  <input type="text" name="user[notification_at_1]" id="user_notification_at_1" class="form-control" >
                </div>
              </div>

              <div class= form-group >
                <div class="m-3">
                  <label class="form-label" for="user_notification_at">通知時刻2</label>
                  <input type="text" name="user[notification_at_2]" id="user_notification_at_2" class="form-control" >
                </div>
              </div>

              <div class= form-group >
                <div class="m-3">
                  <label class="form-label" for="user_notification_at">通知時刻3</label>
                  <input type="text" name="user[notification_at_3]" id="user_notification_at_3" class="form-control" >
                </div>
              </div>

              <div class="text-center">
                <div class="m-3">
                  <%= f.submit nil, class: 'btn btn-primary' %>
                </div>
              </div>

              <div class="text-center">
                <div class="m-3">
                  <%= link_to '戻る', :back, class: 'btn btn-primary' %>
                </div>
              </div>
          <% end %>
       </div>
     </div>
   </div>
 </div>

