<!DOCTYPE html>
<html>
  <head>
    <title>DeviseRails6</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'sidebar', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="h-100 bg-light">
    <main class="h-100">
      <div class="page-wrapper d-flex flex-row h-100 w-100">

          <%= render 'devise/shared/flash_message' %>
          <%= render 'layouts/sidebar' %>

        <div class="page-content">

          <%= render 'layouts/header' %>

          <!-- 下のコンテンツ -->
          <div class="content p-3">
            <%= yield %>
          </div>
          <!-- 下のコンテンツ -->

        </div>

      </div>
    </main>
  </body>
</html>